/*  your css code here. If applicable */
.hero {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

div > img {
	width: 60%;
	height: 100%;
	object-fit: cover;
}

.btn{
	background-color: red;
	color: white;
	padding: 10px;
	border: 1px solide red;
	border-radius: 2px;
	text-align: center;
	margin-left: 60px;
}

.para {
	margin: 20px;
	text-align: center;
}

.heading {
	margin-left: 30px;
}
